body {
    font-family: Arial, sans-serif;
    width: 300px; 
  }
  
  .template-textarea {
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;
}
  
  .save-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007bff; 
    background-color: #f8f8f8;
    cursor: pointer;
    text-align: center;
  }
  
  .save-button:hover {
    background-color: #e8e8e8;
  }
  
  .save-button:focus {
    outline: auto;
    border-color: #007bff;
  }
      
  .template-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .template-text {
    flex-grow: 1;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .delete-button {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: #aaa;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .delete-button:focus {
    outline: auto;
  }

  .delete-icon {
    height: 16px;
    width: 16px;
  }